{% load static %}
{% load active_link_tags %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <!-- For HOD -->
            {% if user.user_type == '1' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'hold_home' 'active' %}">
                    <a href="{% url 'hold_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li
                    class="submenu {% active_link 'officer_send_message' 'active' %} {% active_link 'student_send_message' 'active' %}">
                    <a href="#"><i class="fas fa-message"></i> <span> Messages</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#"><span>Message To Teacher</span></a></li>
                        <li><a href="{% url 'officer_send_message' %}"><span>Message To Officer</span></a></li>
                        <li><a href="{% url 'student_send_message' %}"><span>Message To Student</span></a></li>
                    </ul>
                </li>
                <li class="submenu ">
                    <a href="#"><i class="fa-solid fa-newspaper"></i> <span> News</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Add News</a></li>
                        <li><a href="#">View News</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_student' %}">Add Student</a></li>
                        <li><a href="{% url 'view_student' %}">View Student</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_teacher' 'active' %} {% active_link 'view_teacher' 'active' %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_teacher' %}">Add Teacher</a></li>
                        <li><a href="{% url 'view_teacher' %}">View Teacher</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_officer' 'active' %} {% active_link 'view_officer' 'active' %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Officers</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_officer' %}">Add Officer</a></li>
                        <li><a href="{% url 'view_officer' %}">View Officer</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_department' 'active' %} {% active_link 'view_department' 'active' %}">
                    <a href="#">
                        <i class="fa-solid fa-graduation-cap"></i> <span> Departments</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_department' %}">Add Department</a></li>
                        <li><a href="{% url 'view_department' %}">View Department</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                        <li><a href="{% url 'view_subject' %}">View Subject</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'dologout' %}"><i class="fa-solid fa-right-from-bracket"></i> <span>Log
                            Out</span></a>
                </li>
            </ul>
            <!-- For Officer -->
            {% elif user.user_type == '2' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_home' 'active' %}">
                    <a href="{% url 'officer_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>News</span></a>
                </li>
                <li class="{% active_link 'officer_messages' 'active' %}">
                    <a href="{% url 'officer_messages' %}"><i class="fa fa-message"
                            aria-hidden="true"></i><span>Messages</span></a>
                </li>
                <li class="">
                    <a href="{% url 'dologout' %}"><i class="fa-solid fa-right-from-bracket"
                            aria-hidden="true"></i><span>Logout</span></a>
                </li>
            </ul>
            <!-- For Teacher -->
            {% elif user.user_type == '3' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_home' 'active' %}">
                    <a href="{% url 'teacher_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bell"
                            aria-hidden="true"></i><span>News</span></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bell"
                            aria-hidden="true"></i><span>Messages</span></a>
                </li>
                <li class="">
                    <a href="{% url 'dologout' %}"><i class="fa-solid fa-right-from-bracket"
                            aria-hidden="true"></i><span>Logout</span></a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_home' 'active' %}">
                    <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>News</span></a>
                </li>
                <li class="{% active_link 'student_messages' 'active' %}">
                    <a href="{% url 'student_messages' %}"><i class="fa fa-bell"
                            aria-hidden="true"></i><span>Message</span></a>
                </li>
                <li class="">
                    <a href="{% url 'dologout' %}"><i class="fa-solid fa-right-from-bracket"
                            aria-hidden="true"></i><span>Logout</span></a>
                </li>
            </ul>


            {% endif %}
        </div>
    </div>
</div>